<div>
    <h1>Register</h1>
    <div class="divForm">
        <div class="imgDiv">
            <img class="imgForm" src="Orange_small_logo.png" alt="">
        </div>
        <form action="">
            <br>
            <label class="emailLabel" for="email"> Email </label><br>
    
            <input class="emailInput" type="text" id="email" name="email" placeholder="exemple@gmail.com" required><br> <br>
    
            <label class="passwordLabel" for="password">Password</label> <br>
    
            <input class="passwordInput" type="password" id="password" name="password" placeholder="********" required> <br><br>
            <label class="passwordLabel" for="password">Confirmed Password</label> <br>
    
            <input class="passwordInput" type="password" id="password" name="confirmed password" placeholder="********" required> <br>
    
            <button class="submit" type="submit">Register</button>
        </form>
    </div>
</div>