<div>
    <h1>Register</h1>
    <div class="divForm">
        <div class="imgDiv">
            <img class="imgForm" src="Orange_small_logo.png" alt="">
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()"  >
            <br>
            <label class="nameLabel" for="name"> Name </label><br>
    
            <input formControlName="name" class="nameInput" type="text" id="name" name="name" placeholder="Your name" required><br> 
            
            <label class="emailLabel" for="email"> Email </label><br>
    
            <input formControlName="email" class="emailInput" type="text" id="email" name="email" placeholder="exemple@gmail.com" required><br> <br>
    
            <label class="passwordLabel" for="password">Password</label> <br>
    
            <input formControlName="password"  class="passwordInput" type="password" id="password" name="password" placeholder="********" required> <br><br>
    
            
            <label class="passwordLabel" for="password">Confirmed Password</label> <br>

            <input formControlName="password_confirmation"  class="passwordInput" type="password" id="password2" name="confirmed password" placeholder="********" required> <br> 
    
            <button class="submit" type="submit">Register</button>
        </form>
    </div>
</div>