
<div class="divForm">
    <div class="imgDiv">
        <img class="imgForm" src="Orange_small_logo.png" alt="">
    </div>
    <form (submit)="login()" >
        <br>
        <label class="emailLabel" for="email"> Email </label><br>

        <input [(ngModel)]='email' class="emailInput" type="text" id="email" name="email" placeholder="exemple@gmail.com" required><br> <br>

        <label class="passwordLabel" for="password">Password</label> <br>

        <input [(ngModel)]="password" class="passwordInput" type="password" id="password" name="password" placeholder="********" required> <br>

        <button class="submit" type="submit">Login</button>
    </form>

</div>